body {
    font-family: sans-serif;
    color: #333;
    background-color:#f4f4f4;
}


table {
    margin: 1em;
}

table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
    color: #111
}

td {
    padding: 0.1em 2em
}

a {
    color: #222;
}

a:hover {
    background-color: rgba(255, 255, 0, 0.1)
}

a:visited {
    color: rgb(80, 0, 80)
}

h1 {text-align:center; background-color:rgb(139,195,74); color: #fff; padding:0.5em; text-shadow:1px 1px 1px rgba(0,0,0,0.1); border-radius:2px;}

#searchForm {width:100%;display:flex; justify-content:center; align-items:stretch}
#searchForm input, #searchForm button {min-height:2em;border:solid 1px #ccc;margin:0.5em;}
input {min-width:20vw}
.result {padding:0.5em 1em;}
